<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSurvey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="bg-gray-50">
      <div class="min-h-screen flex flex-col">
        <% if flash[:notice] %>
          <div class="flex items-center justify-center w-screen">
            <div class="w-full bg-green-500 py-8 flex justify-center">
              <h1 class="text-white text-2xl font-semibold text-center"> <%= flash[:notice] %> </h1>
            </div>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="flex items-center justify-center w-screen">
            <div class="w-full bg-red-500 py-8 flex justify-center">
              <h1 class="text-white text-2xl font-semibold text-center"> <%= flash[:alert] %> </h1>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
